## Preprocessing

In [40]:

#https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92from google.colab import files
uploaded = files.upload()

Saving charity_data.csv to charity_data (1).csv

In [41]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
import io
application_df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))
# application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [42]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [43]:
# Determine the number of unique values in each column.
for col in application_df.columns:
  print(col + " : " + str(application_df[col].nunique()))

APPLICATION_TYPE : 17
AFFILIATION : 6
CLASSIFICATION : 71
USE_CASE : 5
ORGANIZATION : 4
STATUS : 2
INCOME_AMT : 9
SPECIAL_CONSIDERATIONS : 2
ASK_AMT : 8747
IS_SUCCESSFUL : 2

In [44]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [45]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [46]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2170        1
C2500        1
C1245        1
C4500        1
C1370        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [47]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_to_replace = []
for el in application_df['CLASSIFICATION'].unique():
  if application_df.CLASSIFICATION.value_counts()[el] > 50:
    pass
  else:
    classifications_to_replace.append(el)
print(len(classifications_to_replace))

57

In [48]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      441
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
Name: CLASSIFICATION, dtype: int64

In [49]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(application_df, drop_first=True)
df.head()

   STATUS  ASK_AMT  ...  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                  0                         0
1       1   108590  ...                  0                         0
2       1     5000  ...                  0                         0
3       1     6692  ...                  0                         0
4       1   142590  ...                  0                         0

[5 rows x 47 columns]

In [50]:
# Split our preprocessed data into our features and target arrays
y = df['IS_SUCCESSFUL']
df = df.drop(columns=['IS_SUCCESSFUL'])
df.head()
# Split the preprocessed data into a training and testing dataset

   STATUS  ASK_AMT  ...  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                  0                         0
1       1   108590  ...                  0                         0
2       1     5000  ...                  0                         0
3       1     6692  ...                  0                         0
4       1   142590  ...                  0                         0

[5 rows x 46 columns]

In [51]:
from sklearn.model_selection import train_test_split

train, test, y_train, y_test = train_test_split(df, y, test_size=0.2)

In [52]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(train)

# Scale the data
X_train_scaled = X_scaler.transform(train)
X_test_scaled = X_scaler.transform(test)

In [58]:
df.shape

(34299, 46)

## Compile, Train and Evaluate the Model

In [59]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn_model = tf.keras.models.Sequential()

# first hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=46))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# output layer 
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 6)                 282

 dense_7 (Dense)             (None, 6)                 42

 dense_8 (Dense)             (None, 1)                 7

=================================================================
Total params: 331
Trainable params: 331
Non-trainable params: 0
_________________________________________________________________

In [60]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [61]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
858/858 [==============================] - 2s 2ms/step - loss: 0.6211 - accuracy: 0.6674
Epoch 2/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5649 - accuracy: 0.7229
Epoch 3/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5579 - accuracy: 0.7262
Epoch 4/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5545 - accuracy: 0.7274
Epoch 5/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7298
Epoch 6/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7301
Epoch 7/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7311
Epoch 8/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7306
Epoch 9/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7314
Epoch 10/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7324
Epoch 11/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7318
Epoch 12/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7323
Epoch 13/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7336
Epoch 14/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 15/200
858/858 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7322
Epoch 16/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7330
Epoch 17/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7331
Epoch 18/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7335
Epoch 19/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7329
Epoch 20/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 21/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7322
Epoch 22/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7328
Epoch 23/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7329
Epoch 24/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7344
Epoch 25/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7337
Epoch 26/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7347
Epoch 27/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 28/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 29/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7339
Epoch 30/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7345
Epoch 31/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 32/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7348
Epoch 33/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7349
Epoch 34/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7351
Epoch 35/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7350
Epoch 36/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 37/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7344
Epoch 38/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 39/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7354
Epoch 40/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7348
Epoch 41/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 42/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 43/200
858/858 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 44/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7348
Epoch 45/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 46/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7354
Epoch 47/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7351
Epoch 48/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7355
Epoch 49/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7354
Epoch 50/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 51/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7354
Epoch 52/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7349
Epoch 53/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7359
Epoch 54/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7352
Epoch 55/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7354
Epoch 56/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7346
Epoch 57/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7360
Epoch 58/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7350
Epoch 59/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 60/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7356
Epoch 61/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7354
Epoch 62/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 63/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 64/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7346
Epoch 65/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7349
Epoch 66/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7356
Epoch 67/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7356
Epoch 68/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 69/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 70/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7352
Epoch 71/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7353
Epoch 72/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7354
Epoch 73/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 74/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 75/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 76/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7365
Epoch 77/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7359
Epoch 78/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 79/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7356
Epoch 80/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7356
Epoch 81/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 82/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7360
Epoch 83/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 84/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7361
Epoch 85/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7366
Epoch 86/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7361
Epoch 87/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 88/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7357
Epoch 89/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7357
Epoch 90/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7360
Epoch 91/200
858/858 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7362
Epoch 92/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7364
Epoch 93/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 94/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7352
Epoch 95/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7359
Epoch 96/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7359
Epoch 97/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7357
Epoch 98/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 99/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 100/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7361
Epoch 101/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7355
Epoch 102/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 103/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7349
Epoch 104/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7358
Epoch 105/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 106/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7356
Epoch 107/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7354
Epoch 108/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7363
Epoch 109/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 110/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7356
Epoch 111/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 112/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7352
Epoch 113/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7356
Epoch 114/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7359
Epoch 115/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7359
Epoch 116/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7354
Epoch 117/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7359
Epoch 118/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7368
Epoch 119/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7361
Epoch 120/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7363
Epoch 121/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7361
Epoch 122/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7353
Epoch 123/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 124/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7355
Epoch 125/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7365
Epoch 126/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 127/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7363
Epoch 128/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7352
Epoch 129/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7368
Epoch 130/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 131/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7361
Epoch 132/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7359
Epoch 133/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7358
Epoch 134/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 135/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 136/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7355
Epoch 137/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7368
Epoch 138/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7361
Epoch 139/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7364
Epoch 140/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 141/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7362
Epoch 142/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 143/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7362
Epoch 144/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7370
Epoch 145/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7360
Epoch 146/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 147/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 148/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7360
Epoch 149/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7368
Epoch 150/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7361
Epoch 151/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 152/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7361
Epoch 153/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7368
Epoch 154/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7371
Epoch 155/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7368
Epoch 156/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 157/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 158/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7370
Epoch 159/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7370
Epoch 160/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7357
Epoch 161/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 162/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 163/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 164/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7358
Epoch 165/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7370
Epoch 166/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7372
Epoch 167/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7366
Epoch 168/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7365
Epoch 169/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 170/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7368
Epoch 171/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7374
Epoch 172/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7357
Epoch 173/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7368
Epoch 174/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7361
Epoch 175/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7375
Epoch 176/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 177/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7373
Epoch 178/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 179/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7380
Epoch 180/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7367
Epoch 181/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7363
Epoch 182/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7377
Epoch 183/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7372
Epoch 184/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7369
Epoch 185/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7371
Epoch 186/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7368
Epoch 187/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7375
Epoch 188/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7368
Epoch 189/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7376
Epoch 190/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7368
Epoch 191/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 192/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7380
Epoch 193/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7375
Epoch 194/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7379
Epoch 195/200
858/858 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7373
Epoch 196/200

In [62]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5595 - accuracy: 0.7192 - 401ms/epoch - 2ms/step
Loss: 0.559463381767273, Accuracy: 0.7192419767379761

In [63]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")